<aside class="bg-dark">
    <section style="background: url(/img/header.jpg) no-repeat center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="text-uppercase">Welcome to Ken's Models</h1>
                    <hr class="primary">
                    <p class="text-muted" style="text-shadow: 2px 2px 5px black;">This photo gallery is a personal record of my lifelong hobby of model-making. I started in 1962 as a 10-year old kid and other than a few interludes of a year or two, I have been modelling consistently ever since. I make no claims to being anything more than an experienced journeyman - there are many modelers out there with far greater skills and accomplishments than me. Be that as it may, this is my album of achievements in the hobby.</p>
                </div>
            </div>
        </div>
    </section>
</aside>
