<!DOCTYPE html>
<html lang="en">

{% include head.html %}

{% assign collection = site.collections | where:"label", page.label  | first %}

<body id="page-top">

  {% include nav.html %}
  

  <aside class="bg-dark">
    <section style="background: url({{ collection.background_image }}) no-repeat center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ collection.display_name }}</h2>
                    <hr class="primary">
                    <!-- <p class="text-muted">
                        Scales:
                        {% for scale in collection.scales %}
                            {{scale}}
                        {% endfor %}
                    </p> -->
                    <a href="{{ collection.flickr_url }}" target="_blank"><i class="fa fa-4x fa-flickr wow bounceIn text-primary"></i></a>
                    <p><a href="{{ collection.flickr_url }}" target="_blank">View Ken's {{ collection.display_name }} on Flickr</a></p>
                </div>
            </div>
        </div>

    </section>
  </aside>

  
  <!-- Include the story text for the collection here: -->
  <aside class="bg-dark">
    <div class="container">
        <p class="text-muted">{{ page.content | markdownify }}</p>
    </div>
  </aside>


  <!-- List the model galleries in the collection: -->
  <section id="content-wrapper" class="bg-secondary">
    <div class="container">

        <!-- List all of the models in this collection which are tagged as "publish", ordered by their completion_date attribute -->
        {% assign models = site[page.label] | sort: 'completion_date' | where: 'publish', true %}

        {% for model in models reversed %}

            {% assign remainder = forloop.index | modulo: 2 %}

            {% if remainder == 0 %}

                <div class="row" id="header">
                    <div class="col-md-3 img"></div>
                    <div class="col-md-8 text-left">
                        <a href="https://www.flickr.com/photos/{{ site.flickr_username }}/sets/{{ model.flickr_set_id }}/" target="_blank"><h3 class="text-primary">{{ model.title }}</h3></a>
                    </div>
                </div>

                <div class="row" id="details">
                    <div class="col-md-3 img">
                        <a href="https://www.flickr.com/photos/{{ site.flickr_username }}/sets/{{ model.flickr_set_id }}/" target="_blank"><img src="{{ model.flickr_set_thumbnail_url }}" class="img-rounded"></a>
                    </div>
                    <div class="col-md-8 text-left">
                        <dfn class="text-muted">{{ model.summary }}</dfn>
                        <br><dfn class="text-muted">[{{ model.scale }} scale, completed {{ model.completion_date }}]</dfn>
                        <p class="text-muted">{{ model.content }}</p>
                    </div>
                </div>

            {% else %}

                <div class="row" id="header">
                    <div class="col-md-8 text-left">
                        <a href="https://www.flickr.com/photos/{{ site.flickr_username }}/sets/{{ model.flickr_set_id }}/" target="_blank"><h3 class="text-primary">{{ model.title }}</h3></a>
                    </div>
                    <div class="col-md-3 img"></div>
                </div>

                <div class="row" id="details">
                    <div class="col-md-8 text-left">
                        <dfn class="text-muted">{{ model.summary }}</dfn>
                        <br><dfn class="text-muted">[{{ model.scale }} scale, completed {{ model.completion_date }}]</dfn>
                        <p class="text-muted">{{ model.content }}</p>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.flickr.com/photos/{{ site.flickr_username }}/sets/{{ model.flickr_set_id }}/" target="_blank"><img src="{{ model.flickr_set_thumbnail_url }}" class="img-rounded"></a>
                    </div>
                </div>

            {% endif %}

            <hr>

        {% endfor %}

    </div>
  </section>

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>
