<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

  {% include nav.html %}

  <section style="background: url({{ site.dark_background_image }}) no-repeat center; background-size: cover;">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center bg-dark">
                  <br>
                  <h2 class="section-heading">{{ page.title }}</h2>
                  <hr class="primary">
                  <p class="text-muted">{{ page.time }} ({{ page.author }})</p>
              </div>
          </div>
      </div>
  </section>  

  <section id="content-wrapper" class="bg-secondary">
    <div class="container">
        {{ content | markdownify }}
    </div>
  </section>

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>
